<!--<div ui-layout ="{ flow : 'column', dividerSize: 0 }" class="layout-mock">
    <div ui-layout-container="central">
        <span class="label label-default">The ID is {{task._id}}</span>
        <input  type="text" class="form-control" ng-model="task.name">
            <button class="btn btn-primary" ng-click="updateTask()">Update task</button>
            <button class="btn" ng-click="deleteTask()">Delete task</button>
    </div>
    <div ui-layout-container>

    </div>



</div>-->
    <div ng-show="!!task" ui-layout="" class="layout-mock stretch">
<!--        <header class="north-back stretch" style="top: 0%; bottom: 90%;">
        </header>-->
        <ui-layout options="{ flow : 'column' }" class="stretch ui-layout-column x-layout-main">
            <sidebar class="east-back stretch" style="left: 0%; right: 80%;"></sidebar>
            <div class="center-back stretch" style="left: 20%; right: 30%;">
                <span class="label label-default">The ID is {{task._id}}</span>
                <input  type="text" class="form-control" ng-model="task.name">
            </div>
            <sidebar class="west-back stretch" style="left: 70%; right: 0%;">
                <span class="label label-default">Task priority</span>
                <select ng-model="task.priority" class="form-control" ng-options="priority for priority in priorities">
                </select>
            </sidebar>
        </ui-layout>
        <footer class="south-back stretch" style="top: 80%; bottom:0%">
            <ui-layout options="{ flow : 'column' }" class="stretch ui-layout-column" style="">
                <sidebar class="east-back stretch" style="left: 0%; right: 80%;"></sidebar>
                <div class="center-back stretch" style="left: 20%; right: 20%;">
                </div>
                <sidebar class="west-back stretch" style="left: 80%; right: 0%;">
                    <button class="btn btn-primary" ng-click="updateTask()">Update task</button>
                    <button class="btn" ng-click="deleteTask()">Delete task</button>
                </sidebar>
            </ui-layout>
        </footer>
    </div>